In [5]:
import pandas as pd
import numpy as np
import os
import sys

In [6]:
# main.py
# open train and test data

import sys
train_file_name = ""
test_file_name = ""

if __name__ == '__main__':
    # sys.argv[0] is the name of the program, we can skip it
    path_to_train_file = sys.argv[1] # this takes the 1st terminal argument
    path_to_test_file  = sys.argv[2] # this takes the 2nd terminal argument
    
train_data = pd.read_table(path_to_train_file, sep="\t")
test_data = pd.read_table(path_to_test file, sep="\t")

SyntaxError: invalid non-printable character U+00A0 (Temp/ipykernel_13020/3794877983.py, line 9)

In [7]:
df = pd.read_csv('dataset.csv')
df

,no,personality (hilarious/boring),difficulty (low/medium/ high),RMP Reviews (Awesome/Average/Awful),Easy A,Worth taking
0,1,Hilarious,Low,Awesome,No,-
1,2,Boring,Medium,Awful,No,+
2,3,Boring,Low,Awesome,No,+
3,4,Hilarious,Low,Awesome,Yes,-
4,5,Hilarious,Low,Average,Yes,-
5,6,Hilarious,Medium,Awful,No,+
6,7,Hilarious,High,Awful,No,-
7,8,Hilarious,Medium,Awesome,No,+
8,9,Hilarious,Medium,Average,Yes,-
9,10,Hilarious,High,Awful,Yes,-
10,11,Boring,Medium,Awesome,Yes,-
11,12,Boring,Low,Average,Yes,+
12,13,Boring,High,Awesome,No,-
13,14,Boring,High,Average,Yes,-

In [8]:
df.replace({'Boring': 0, 'Hilarious':1}, inplace = True)
df.replace({'Low': 0, 'Medium':1, 'High':2}, inplace = True)
df.replace({'Awful':0, 'Average':1, 'Awesome':2}, inplace = True)
df.replace({'Yes':1, 'No':0}, inplace = True)
df.replace({'+':1, '-':0}, inplace=True)
df.drop('no', inplace = True, axis =1)
df

,personality (hilarious/boring),difficulty (low/medium/ high),RMP Reviews (Awesome/Average/Awful),Easy A,Worth taking
0,1,0,2,0,0
1,0,1,0,0,1
2,0,0,2,0,1
3,1,0,2,1,0
4,1,0,1,1,0
5,1,1,0,0,1
6,1,2,0,0,0
7,1,1,2,0,1
8,1,1,1,1,0
9,1,2,0,1,0
10,0,1,2,1,0
11,0,0,1,1,1
12,0,2,2,0,0
13,0,2,1,1,0

In [11]:
def entropy(prob):
    if prob == 0 or prob == 1:
        return 0;
    else: 
        return np.log(prob);
def minEntropy(df):
    entropy = np.array(df.columns.len())
    for column in df.columns:
        
    return

IndentationError: expected an indented block after 'for' statement on line 8 (Temp/ipykernel_16748/3965733385.py, line 10)

In [4]:
class Node:
    def __init__(self, arr = [""*3], attribute = "", class_value = -1):
        self.children = list(arr)
        self.class_value = int(class_value)
        self.attribute = attribute
    
    def insert(self, source, node):
        self.children[source] = node
        
    def insert(self, source, attribute, class_value):
        temp_node = Node(class_value = -1)

    def value(self, value):
        self.value = value
        
    def attribute(self, attribute):
        self.attribute = attribute
        
class DescTree():
    def __init__(self, df, root = Node()):
        self.df = df
        self.root = root
        self.attributes = df.columns()
        self.all_class_value = df[df.columns[-1]].unique
    def __init__(self, df):
        self.df = df
        self.root = Node()
        self.attributes = df.columns()
        
    def BuildTree(self):
        BuildTreeHelper(self.df, self.root)
    
    def toString(self):
        string = ""
        string = toStringHelper(self.root, 0)
        return string
    
    def toStringHelper(node, count_ancestor):
        string = ""
        if node.value != -1:
            string += " " + node.value + "\n"
        else:
            for i in range(node.children.len()):
                if node.children[i] != "" and node.children[i].value != -1:
                    string += "| "*count_ancestor + node.attribute + " = " 
                    + str(i) + " : \n" + toStringHelper(node.children[i], count_ancestor + 1)
                if node.children[i] != "":
                    string += "| "*count_ancestor + node.attribute + " = "
                    + str(i) + " : " + toStringHelper(node.children[i], count_ancestor + 1)
    
    def BuildTreeHelper(df, node):
        if df[df.columns[-1]].value_counts().len() == 1:
            node.class_value = df[-1][0]
        elif df.columns.len() == 1:
            node.class_value = df.mode()[0]
        else:

SyntaxError: invalid syntax (Temp/ipykernel_16748/3884174400.py, line 52)

In [62]:
class Node:
    def __init__(self, children = {}, is_leaf = False, value)

0     0
1     1
2     1
3     0
4     0
5     1
6     0
7     1
8     0
9     0
10    0
11    1
12    0
13    0
Name: Worth taking, dtype: int64

In [ ]:
while (df.columns != []):